{% extends 'base.html' %}

{%block title%}
	About
{%endblock title%}
{%block body%}

    <section class="main">
        <h1>About <span>Braxton Capital</span></h1>
        <hr class="as-border">
        <div class="section-1">
            <div class="row">
                <div class="column-1">
                    <p>
                        <img src="../static/images/path 266.png">Driving business performance through investment, advisory, and transformation. <img src="../static/images/path 266 (1).png">
                    </p>
                </div>
                <div class="column-2" style="text-align: center;">
                    <img src="../static/images/Rectangle 127.png" class="section-1-img">
                </div>
            </div>
        </div>

        <div class="section-2">  
            <div class="row">
                <div class="column-1" style="text-align: center;">
                    <img src="../static/images/5.png" class="section-2-img">
                </div>
                <div class="column-2">
                    <p>
                        Founded in 2017, Braxton acts as both a "Search Fund" and Advisory business for emerging opportunities throughout Southeast Asia. By deploying capital and advisory capabilities we’re able to help Southeast Asia companies realize significant value creation through transformation.
                    </p>

                </div>
            </div>
        </div>

        <div class="section-3">
            <p>
                 Being a relatively new company Braxton has spent a significant amount of time evaluating investments looking for unique opportunities in which they can work hand in hand with partner companies to significantly accelerate value creation. This level of diligence allows us to now only properly review investments but also allows Braxton to ensure the right fit when partnering with these growth platforms.
            </p>
        </div>
        <div class="section-4">
            <h1>Our Focus</h1>
            <hr class="as-border">
            <p class="section-4-para">
                Our focus is on utilizing capital and advisory expertise to accelerate value creation for mid market businesses in Southeast Asia. In particular, Braxton looks at business acquisitions and investments, leveraging strategic advice, and accelerating the transformation agenda. We work hand in hand w investors and investee companies to leverage their embedded capabilities while creating a step change in growth.
            </p>
            <div class="section-4-inner">
            <div class="row">
                <div class="column" style="text-align: left;">
                    <img src="../static/images/6.png" style="width:100%">
                </div>
                <div class="column">
                     <p>
                        Our focus is on utilizing capital and advisory expertise to accelerate value creation for mid market businesses in Southeast Asia. In particular, Braxton looks at business acquisitions and investments, leveraging strategic advice, and accelerating the transformation agenda. We work hand in hand w investors and investee companies to leverage their embedded capabilities while creating a step change in growth.
                    <br/>
                        Braxton aims to invest in and partner with local entities to accelerate business growth and unlock significant value for our investors and the companies we invest in.
                    </p>
                </div>
            </div>
        </div>

        <div class="section-5">
            <div class="row">
                <div class="column-5">
                    <h1>Search Fund</h1>
                    <p>
                        We operate as a "Search Fund" where we identify opportunities, fund and structure transactions, and then work directly with the investee company to enhance their businesses. To date, we’ve evaluated several opportunities for potential search fund investments leading to several transactions. 
                    </p>
                </div>
                <div class="column-5" style="text-align: center;">
                    <img src="../static/images/Rectangle 1718.png">
                </div>
            </div>
 
            <div class="row">
                <div class="column-5" style="text-align: center;">
                    <img src="../static/images/25060.png">
                </div>
                <div class="column-5">
                    <h1>Advisory</h1>
                    <p>
                        We bring a significant amount of insight based on a history in Southeast Asia focused on Financial Services, Insurance, and Healthcare across multiple disciplines (Strategy, Investments, M&A, and Transformation). Over the past several years we’ve worked with a handful of the leading management consultancies in a senior advisory role as well as at the Board level for investee companies.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="main" style="padding-top: 50px;">
        <h1>Who We Are</h1>
        <hr class="as-border">
        <div class="row">
            <div class="column">
                <h1>DOUG HUDSON <a href="https://www.linkedin.com/in/doug-hudson-651b0a1b/"><i class="fa fa-linkedin manager-linkedin"></i></a></h1>
                <span class="profession">Managing Partner</span>
                <p>
                    Doug is a Managing Partner of Braxton Capital responsible for formulating and executing the firm’s investment strategies across Southeast Asia.
                </p>
                <p>
                    Over the past 20 plus years he has built a wealth of experience in strategy, M&A, and corporate transformations through leadership positions across Asia as well as in the US and Europe.
                </p>
                <a href="/single" class="read-more">Read More</a>
            </div>
            <div class="column" style="text-align: right;">
                <img src="../static/images/O6JTUC0 (1).png">
            </div>
        </div>
        <div class="row">
            <div class="column" >
                <img src="../static/images/O6JTUC0.png">
            </div>
            <div class="column">
                <h1>Name Person</h1>
                <span class="profession">Advisory</span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                </p>
                <a href="/single" class="read-more">Read More</a>
            </div>
        </div>
    </section>



    <footer>
        <div class="footer-row">
            <div class="footer-column-1">
                <img src="../static/images/path44.svg">
                <p>Accelrating Value</p>
                <p>Creation in Asia</p>
            </div>
            <div class="footer-column">
                <h4>Connect</h4>
                <p>137 Telok Ayir St. 3456</p>
                <p>Singapore 085473</p>
                <p>info@braxton.com.sg</p>
            </div>
            <div class="footer-column">
            <h4>Message Us</h4>
            <a href="mailto:info@braxton.com.sg" class="button">Connect Now</a>
            </div>
        </div>
        <p class="copyright">Braxton Capital Pvt Limited. &copy Copyright 2020</p>
    </footer>

{%endblock body%}
