{% extends 'base.html' %}

{%block title%}
	Contact Us
{%endblock title%}
{%block body%}
    <section class="main">
        <h1>Our Investments</h1>
        <hr class="as-border">
        <div class="row">
            <p class="first-para">
                We focus on mid market opportunities particularly in financial, insurance, healthcare, and real estate industries where companies are poised to capitalize on the emerging middle class in Southeast Asia. We’ve made select investments so far and have been involved with the evaluation of numerous other investment opportunities. 
            </p>
            <p class="profession">
                We also partner with other funds that have unique value added opportunities in the global real estate market (e.g., value add multifamily housing, greenfield residential apartments, and student accommodation).
            </p>
            <p class="Companies">Two Recent Companies Include:</p>
            <div class="column-1">
                <div class="image-border">
                    <img src="../static/images/purple health final.png">
                </div>
            </div>
            <div class="column-2">
                <h2>Growth Equity Investment, India</h2>
                <p>
                    PurpleHealth.com, India’s leading consumer-focused health innovator, is a digital health platform that gives people greater control, choice and flexibility in connecting with doctors and healthcare providers. PurpleHealth has an extensive medical directory with access to over 38,000 doctors at over 4000 hospitals & clinics. They use cutting-edge technology to empower healthcare consumers by giving them the ability to gather better, more timely information and advice. This enables individuals to actively take control of their health and wellness decisions.
                </p>
            </div>
        </div>
        <div class="row">
        <div class="column-1">
                <div class="image-border">
                    <img src="../static/images/aa.png">
                </div>
            </div>
            <div class="column-2">
                <h2>Growth Equity Investment, India</h2>
                <p>
                    Square Yards is a technology-enabled real estate brokerage and India’s largest player for primary real estate. It’s subsidiary Square Capital is one of the largest marketplaces for secured mortgages in India. Square Yards platform offers an integrated consumer experience & covers the full real-estate journey from search, discovery to research, transactions, home loans and post-sales service – fully integrating buyers to an extensive network of 500+ partner real estate developers, and 90+ banks & NBFCs.
                </p>
            </div>
        </div>
    </section>



    <footer>
        <div class="footer-row">
            <div class="footer-column-1">
                <img src="../static/images/path44.svg">
                <p>Accelrating Value</p>
                <p>Creation in Asia</p>
            </div>
            <div class="footer-column">
                <h4>Connect</h4>
                <p>137 Telok Ayir St. 3456</p>
                <p>Singapore 085473</p>
                <p>info@braxton.com.sg</p>
            </div>
            <div class="footer-column">
            <h4>Message Us</h4>
            <a href="mailto:info@braxton.com.sg" class="button">Connect Now</a>
            </div>
        </div>
        <p class="copyright">Braxton Capital Pvt Limited. &copy Copyright 2020</p>
    </footer>

{%endblock body%}