{% extends 'base.html' %}

{%block title%}
	Home
{%endblock title%}
{%block body%}
	<div class="slideshow-container">
		<div class="mySlides">
  			<img src="../static/images/2.png" style="width:100%" class="fade">
  			<div class="text">
  				<h1>Accelerating value creation in Asia</h1>
  				<p>Singapore</p>
  			</div>
		</div>

		<div class="mySlides">
  			<img src="../static/images/1.jpg" style="width:100%" class="fade">
 			<div class="text">
  				<h1>Accelerating value creation in Asia</h1>
  				<p>India</p>
  			</div>
		</div>

		<div class="mySlides">
  			<img src="../static/images/3.png" style="width:100%" class="fade">
  			<div class="text">
  				<h1>Accelerating value creation in Asia</h1>
  				<p>Indonesia</p>
  			</div>
		</div>
		<div class="mySlides">
			<img src="../static/images/Bangkok Thailand.jpg" style="width:100%" class="fade">
			<div class="text">
				<h1>Accelerating value creation in Asia</h1>
				<p>Thailand</p>
			</div>
	    </div>
		<div class="mySlides">
			<img src="../static/images/Ho Chi Minh Vietnam.jpg" style="width:100%" class="fade">
			<div class="text">
				<h1>Accelerating value creation in Asia</h1>
				<p>Vietnam</p>
			</div>
		</div>	
	</div>
	<div style="text-align:center">
  		<span class="dot"></span> 
  		<span class="dot"></span> 
		<span class="dot"></span>
		<span class="dot"></span> 
  		<span class="dot"></span> 
	</div>



{% endblock body%}
