{% extends 'base.html' %}

{%block title%}
	Home
{%endblock title%}
{%block body%}


    <section class="main">
        <h1>Our Approach</h1>
        <hr class="as-border">
        <div class="row">
            <div class="column">
                <p>
                    We take a collaborative approach to working hand in hand with investors, investee companies, business owners, and key stakeholders to unlock significant value creation.
                </p>
                <p>    
                     We bring in-depth knowledge of the Asia market to the table but also realize that a collaborative approach with current businesses owners leverages their local knowledge while expediting change. We also have access to industry experts that take an active role in helping deliver change.
                </p>
                <p>
                     Don’t know what a Search Fund is…<span class="para-color"> more insights about this investment approach</span>
                </p>
            </div>
            <div class="column" style="text-align: center;">
                <img src="../static/images/Rectangle 2306.png">
            </div>
        </div>
    </section>


    <footer>
        <div class="footer-row">
            <div class="footer-column-1">
                <img src="../static/images/path44.svg">
                <p>Accelrating Value</p>
                <p>Creation in Asia</p>
            </div>
            <div class="footer-column">
                <h4>Connect</h4>
                <p>137 Telok Ayir St. 3456</p>
                <p>Singapore 085473</p>
                <p>info@braxton.com.sg</p>
            </div>
            <div class="footer-column">
            <h4>Message Us</h4>
            <a href="mailto:info@braxton.com.sg" class="button">Connect Now</a>
            </div>
        </div>
        <p class="copyright">Braxton Capital Pvt Limited. &copy Copyright 2020</p>
    </footer>











{%endblock body%}
