{% extends 'base.html' %}

{%block title%}
	Contact Us
{%endblock title%}
{%block body%}

    <section class="main">
        <div class="row">
            <div class="column">
                <h1>DOUG HUDSON <a href="https://www.linkedin.com/in/doug-hudson-651b0a1b/"><i class="fa fa-linkedin manager-linkedin"></i></a></h1>
                <span class="profession">Managing Partner</span>
                <p>
                    Doug is a Managing Partner of Braxton Capital responsible for formulating and executing the firm’s investment strategies across Southeast Asia.
                </p>
                <p>
                    Over the past 20 plus years he has built a wealth of experience in strategy, M&A, and corporate transformations through leadership positions across Asia as well as in the US and Europe.
                </p>
            </div>
            <div class="column" style="text-align: right;">
                <img src="../static/images/O6JTUC0 (1).png">
            </div>
            <p class="single-para">
                Doug has been in numerous leadership roles, including: leading the M&A process for a $1bn divesture of a major country business unit, contributing to AIA's successful restructuring and subsequent IPO, re-launching AIA Taiwan, managing AIA’s Strategy and Planning team that helped guide AIA's future direction as well as several stints in country and line roles working as the Chief Partnership Distribution Officer in Singapore and as Regional Head of the AIA-Citibank partnership team.
            </p>
            <p class="single-para">
                As part of AIG, Doug worked with Asia Pacific senior leadership to formulate corporate strategies and identify investment opportunities across AIG’s businesses in Asia. He presented key findings and strategies into the head of Corporate Strategy and M&A in New York while eventually playing a key role in helping coordinate the reorganization of AIG assets and businesses as part of the company's overall restructuring, including the subsequent listing of AIA Group.
            </p>
            <p class="single-para">
                While at Deloitte Consulting, Doug was selected into Global Development Program (top 5% of managers) to work with the Asia Pacific CEO in developing the 22,000 practitioner practice in Southeast Asia, India, and China while advising on external strategy engagements (two Fortune 10 companies building entry strategies for Asia). While working in the US, Doug worked with KKR on a $2.5bn leveraged buyout of a leading retail company as well as leading numerous strategy and M&A projects for Fortune 500 clients.
            </p>
            <p class="color-head">
                Doug has published many thoughts pieces on asia financial Services including:
            </p>
            <ul class="single-list">
                <li>The Engine of Growth - Retail Banking Customers Drive the Future of Financial Services in Asia</li>
                <li>Enhancing Shareholder Value - Corporate Governance as a Competitive Differentiator Among Asian Banks, Asia Pacific</li>
                <li>Banking Structures - Applying Past Lessons to Strengthen Future Performance</li>
                <li>The Changing Banking Landscape in Asia Pacific - a Report on Bank Consolidation</li>
            </ul>
            <p class="single-para">
                Doug earned his MBA from the Wharton School, University of Pennsylvania with a major in Finance, Multinational Management, and Strategic Management. He earned his BS in Industrial Management with Honors from Carnegie Mellon University.
            </p>
        </div>
    </section>




    <footer>
        <div class="footer-row">
            <div class="footer-column-1">
                <img src="../static/images/path44.svg">
                <p>Accelrating Value</p>
                <p>Creation in Asia</p>
            </div>
            <div class="footer-column">
                <h4>Connect</h4>
                <p>137 Telok Ayir St. 3456</p>
                <p>Singapore 085473</p>
                <p>info@braxton.com.sg</p>
            </div>
            <div class="footer-column">
            <h4>Message Us</h4>
            <a href="mailto:info@braxton.com.sg" class="button">Connect Now</a>
            </div>
        </div>
        <p class="copyright">Braxton Capital Pvt Limited. &copy Copyright 2020</p>
    </footer>

{% endblock body %}
