<!DOCTYPE html5>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/script-2.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/who-we-are.css">
    <title>
      Who We Are
    </title>
    <link rel="icon" href="../images/path72.png" sizes="32x32" />
</head>
<body> 
	<section id="top-header">
        <nav id="overlay">
            <img src="../images/close-button.svg" alt="menu" class="close-button"  id="close-menu">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="our-focus.html">Our Focus</a></li>
                <li><a href="our-approach.html">Our Approach</a></li>
                <li><a href="our-investment.html">Our Investment</a></li>
                <li><a href="#">Who We Are</a></li>               
            </ul>
        </nav>
        <header>
            <a href="../index.html" class="logo">
                <img src="../images/path44.svg">
            </a>
            <img src="../images/Rectangle 97.svg" class="menu-btn" id="open-menu">
        </header>
    </section>


    <section class="main">
        <h1>Who We Are</h1>
        <hr class="as-border">
        <div class="row">
            <div class="column">
                <h1>DOUG HUDSON <a href="https://www.linkedin.com/in/doug-hudson-651b0a1b/"><i class="fa fa-linkedin manager-linkedin"></i></a></h1>
                <span class="profession">Managing Partner</span>
                <p>
                    Doug is a Managing Partner of Braxton Capital responsible for formulating and executing the firm’s investment strategies across Southeast Asia.
                </p>
                <p>
                    Over the past 20 plus years he has built a wealth of experience in strategy, M&A, and corporate transformations through leadership positions across Asia as well as in the US and Europe.
                </p>
                <a href="single.html" class="read-more">Read More</a>
            </div>
            <div class="column" style="text-align: right;">
                <img src="../images/O6JTUC0 (1).png">
            </div>
        </div>
        <div class="row">
            <div class="column" >
                <img src="../images/O6JTUC0.png">
            </div>
            <div class="column">
                <h1>Name Person</h1>
                <span class="profession">Advisory</span>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                </p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
    </section>




    <footer>
        <div class="footer-row">
            <div class="footer-column-1">
                <img src="../images/path44.svg">
                <p>Accelrating Value</p>
                <p>Creation in Asia</p>
            </div>
            <div class="footer-column">
                <h4>Connect</h4>
                <p>137 Telok Ayir St. 3456</p>
                <p>Singapore 085473</p>
                <p>info@braxton.com.sg</p>
            </div>
            <div class="footer-column">
            <h4>Message Us</h4>
            <a href="mailto:info@braxton.com.sg" class="button">Connect Now</a>
            </div>
        </div>
        <p class="copyright">Braxton Capital Pvt Limited. &copy Copyright 2020</p>
    </footer>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
